.header {
  display: flex;
  justify-content: space-evenly;
  padding: 3px 0;
  border-bottom: 0.1px solid lightgray;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  /* Good Trick */
  object-fit: contain;
  height: 30px;
  margin-right: 10px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 30px;
  color: gray;
  background-color: #eef3f8;
}
.header__search > input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
}

.header__right {
  display: flex;
}
